extends ../layout/layout.pug
block vars
	- var title = 'Выбор этажа';
block header
	include ../includes/header.pug
block content
	include ../includes/content-choose-floor.pug
block footer
	include ../includes/footer.pug