extends ../layout/layout.pug
block vars
	- var title = 'Выбор квартиры 2';
block header
	include ../includes/header.pug
block content
	include ../includes/content-choose-flat-2.pug
block footer
	include ../includes/footer.pug