main.main
	.section-img.section-img_main
		.container 
			.section-img__text 
			.section-img__buttons
				a.button-order(href="")
					span ЗАБРОНИРОВАТЬ КВАРТИРУ
				a.button-choose(href="")
					span Выбрать квартиру
	.section-tabs 
		.container 
			.section-tabs__round
				ul.section-tabs__links
					li.active
						span.like-tab(data-id="0") О застройщике
					li 
						span.show-popup.open-popup-link(data-mfp-src="#about-popup") Проектная декларация

				.section-tabs__wrapper 
					.section-tabs__tab.active(data-text="0")
						.section-tabs__desc
							.section-tabs__about 
								.section-tabs__about-title О застройщике
								.section-tabs__about-text 
									p.large-text Новый жилой комплекс «Борисовский бульвар» строится в районе популярной застройки на улице Артиллерийской.
									p В рамках второй очереди будет возведён 324 — квартирный жилой дом общей площадью 18 897,00 кв.м. этажностью 10 этажей. Всего в жилом комплексе планируется 5 многоквартирных домов.
									ul 
										li По проекту во втором доме 152 однокомнатных, 150 двухкомнатных и 22 трехкомнатных квартир.
										li В третьем доме 114 однокомнатных, 115 двухкомнатных и 15 трехкомнатных квартир.
										li В четвёртом доме 75 однокомнатных, 73 двухкомнатных и 9 трехкомнатных квартир.
										li В пятом доме 76 однокомнатных, 74 двухкомнатных и 10 трехкомнатных квартир.
									a.button.button_choose(href="") 
										<svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.427 0.430796L26.427 29.5692C26.427 29.6834 26.3816 29.793 26.3008 29.8738C26.22 29.9546 26.1104 30 25.9961 30H0.430827C0.316565 30 0.206982 29.9546 0.126187 29.8738C0.0453907 29.793 0 29.6834 0 29.5692L0 3.42117C0 3.3069 0.0453907 3.19732 0.126187 3.11653C0.206982 3.03573 0.316565 2.99034 0.430827 2.99034H13.1777V0.430796C13.1777 0.316532 13.2231 0.206951 13.3039 0.126156C13.3847 0.0453606 13.4943 -3.24249e-05 13.6085 -3.24249e-05H25.9961C26.1104 -3.24249e-05 26.22 0.0453606 26.3008 0.126156C26.3816 0.206951 26.427 0.316532 26.427 0.430796ZM25.5653 22.1528L25.5653 0.864969H14.04V9.77788C14.04 9.89214 13.9946 10.0017 13.9138 10.0825C13.833 10.1633 13.7235 10.2087 13.6092 10.2087H12.7797V11.2731C12.7797 11.3873 12.7343 11.4969 12.6535 11.5777C12.5727 11.6585 12.4631 11.7039 12.3488 11.7039C12.2346 11.7039 12.125 11.6585 12.0442 11.5777C11.9634 11.4969 11.918 11.3873 11.918 11.2731V10.2087H9.12765C9.01339 10.2087 8.90381 10.1633 8.82301 10.0825C8.74222 10.0017 8.69683 9.89214 8.69683 9.77788C8.69683 9.66361 8.74222 9.55403 8.82301 9.47323C8.90381 9.39244 9.01339 9.34705 9.12765 9.34705H13.1757V6.84236H0.863662L0.863662 9.34705H4.01526C4.12952 9.34705 4.2391 9.39244 4.3199 9.47323C4.40069 9.55403 4.44608 9.66361 4.44608 9.77788C4.44608 9.89214 4.40069 10.0017 4.3199 10.0825C4.2391 10.1633 4.12952 10.2087 4.01526 10.2087H2.69334L2.69334 16.9842C2.69334 17.0985 2.64795 17.208 2.56715 17.2888C2.48636 17.3696 2.37678 17.415 2.26251 17.415H0.863662L0.863662 18.9885H2.86594C2.9802 18.9885 3.08978 19.0339 3.17058 19.1147C3.25138 19.1955 3.29677 19.305 3.29677 19.4193C3.29677 19.5336 3.25138 19.6432 3.17058 19.7239C3.08978 19.8047 2.9802 19.8501 2.86594 19.8501H0.863662L0.863662 20.3184H1.97485C2.08911 20.3184 2.19869 20.3638 2.27949 20.4446C2.36029 20.5254 2.40568 20.635 2.40568 20.7493V20.8831C2.58688 20.8038 2.78256 20.763 2.98033 20.7633H4.10089C4.48191 20.7633 4.84733 20.9147 5.11675 21.1841C5.38618 21.4535 5.53754 21.8189 5.53754 22.2C5.53754 22.581 5.38618 22.9464 5.11675 23.2158C4.84733 23.4852 4.48191 23.6366 4.10089 23.6366H2.981C2.78323 23.6369 2.58755 23.5961 2.40634 23.5169V23.6506C2.40634 23.7649 2.36095 23.8745 2.28016 23.9553C2.19936 24.0361 2.08978 24.0815 1.97552 24.0815H0.863662L0.863662 25.6469H6.57212C6.68639 25.6469 6.79597 25.6923 6.87676 25.7731C6.95756 25.8539 7.00295 25.9635 7.00295 26.0777V26.6383H9.42334V19.8508H7.43445C7.32019 19.8508 7.2106 19.8054 7.12981 19.7246C7.04901 19.6438 7.00362 19.5342 7.00362 19.42C7.00362 19.3057 7.04901 19.1961 7.12981 19.1153C7.2106 19.0345 7.32019 18.9892 7.43445 18.9892H11.9167V17.9248C11.9167 17.8105 11.962 17.7009 12.0428 17.6202C12.1236 17.5394 12.2332 17.494 12.3475 17.494C12.4617 17.494 12.5713 17.5394 12.6521 17.6202C12.7329 17.7009 12.7783 17.8105 12.7783 17.9248V18.9885H14.8903C15.0046 18.9885 15.1141 19.0339 15.1949 19.1147C15.2757 19.1955 15.3211 19.305 15.3211 19.4193C15.3211 19.5336 15.2757 19.6432 15.1949 19.7239C15.1141 19.8047 15.0046 19.8501 14.8903 19.8501H10.2857V26.0062H22.6619V22.587C22.6619 22.4727 22.7073 22.3631 22.7881 22.2823C22.8689 22.2015 22.9785 22.1561 23.0927 22.1561L25.5653 22.1528ZM25.5653 29.135V23.0151H23.5249V26.437C23.5249 26.5512 23.4795 26.6608 23.3987 26.7416C23.3179 26.8224 23.2083 26.8678 23.0941 26.8678H15.5947V29.1383L25.5653 29.135ZM14.7331 29.135V26.8678H10.2857V29.1383L14.7331 29.135ZM13.1784 4.48218V3.84932H0.863662V4.48218H13.1784ZM13.1784 5.97736V5.3445H0.863662L0.863662 5.98338L13.1784 5.97736ZM9.27349 29.1383V27.5H7.00362V29.1383H9.27349ZM6.1413 27.0698V26.5092H0.863662L0.863662 29.1383H6.1413V27.0698ZM2.40634 22.1996C2.40652 22.352 2.46712 22.498 2.57485 22.6058C2.68259 22.7135 2.82865 22.7741 2.981 22.7743H4.10156C4.25397 22.7743 4.40013 22.7137 4.5079 22.606C4.61567 22.4982 4.67622 22.352 4.67622 22.1996C4.67622 22.0472 4.61567 21.901 4.5079 21.7933C4.40013 21.6855 4.25397 21.625 4.10156 21.625H2.981C2.82877 21.6251 2.6828 21.6856 2.57509 21.7932C2.46738 21.9008 2.4067 22.0474 2.40634 22.1996ZM1.83169 16.5534L1.83169 10.2094H0.863662L0.863662 16.5534H1.83169ZM1.54469 22.1996V21.1794H0.863662L0.863662 23.2198H1.54402L1.54469 22.1996ZM24.2862 12.7669V16.2236C24.2862 16.3378 24.2408 16.4474 24.16 16.5282C24.0792 16.609 23.9697 16.6544 23.8554 16.6544H15.9573C15.8431 16.6544 15.7335 16.609 15.6527 16.5282C15.5719 16.4474 15.5265 16.3378 15.5265 16.2236L15.5265 12.7676C15.5265 12.6533 15.5719 12.5437 15.6527 12.4629C15.7335 12.3821 15.8431 12.3367 15.9573 12.3367H23.8554C23.912 12.3367 23.9681 12.3479 24.0204 12.3696C24.0727 12.3913 24.1203 12.4231 24.1603 12.4632C24.2003 12.5032 24.232 12.5508 24.2536 12.6032C24.2752 12.6555 24.2863 12.7116 24.2862 12.7682V12.7669ZM23.4246 15.7914V13.1977H22.9937V14.7284C22.9937 14.8426 22.9483 14.9522 22.8675 15.033C22.7868 15.1138 22.6772 15.1592 22.5629 15.1592H17.2512C17.1369 15.1592 17.0273 15.1138 16.9465 15.033C16.8657 14.9522 16.8203 14.8426 16.8203 14.7284V13.1984H16.3895V15.7927L23.4246 15.7914ZM22.1314 14.2962V13.1977H17.6813V14.2975L22.1314 14.2962ZM24.0273 3.42117C24.0273 3.53543 23.9819 3.64501 23.9011 3.72581C23.8203 3.8066 23.7108 3.852 23.5965 3.852H16.1835C16.0692 3.852 15.9596 3.8066 15.8788 3.72581C15.798 3.64501 15.7526 3.53543 15.7526 3.42117C15.7526 3.3069 15.798 3.19732 15.8788 3.11653C15.9596 3.03573 16.0692 2.99034 16.1835 2.99034H17.5214C17.5289 2.88137 17.5775 2.7793 17.6573 2.70478C17.7372 2.63026 17.8424 2.58886 17.9516 2.58895H21.8317C21.9409 2.58886 22.0461 2.63026 22.126 2.70478C22.2058 2.7793 22.2544 2.88137 22.2619 2.99034H23.5998C23.7135 2.99122 23.8222 3.037 23.9023 3.1177C23.9824 3.1984 24.0273 3.30748 24.0273 3.42117ZM23.5109 7.57624C23.5109 8.94699 22.0344 10.0207 20.1492 10.0207C18.264 10.0207 16.7875 8.95034 16.7875 7.57624C16.7875 6.20214 18.264 5.13176 20.1492 5.13176C22.0344 5.13176 23.5109 6.20549 23.5109 7.57624ZM17.6492 7.57624C17.6492 8.43388 18.7938 9.15839 20.1492 9.15839C21.5046 9.15839 22.6492 8.43388 22.6492 7.57624C22.6492 6.7186 21.5046 5.99409 20.1492 5.99409C18.7938 5.99409 17.6492 6.71927 17.6492 7.57624Z" fill="white" /></svg>
										| Выбрать квартиру
							+tabs-slider()

	.section-peculiarities
		.container 
			.section-peculiarities__title Особенности проекта
			.section-peculiarities__text С учетом современных технологий и комфорта, жителям предоставляются удобства, такие как видеонаблюдение, крытые парковки, скоростные бесшумные лифты, а также SMART-планировки квартир. Высокие потолки, панорамное остекление лоджий и крышная котельная создают дополнительные преимущества для будущих обитателей.
			.section-peculiarities__items 
				.section-peculiarities__item 
					.section-peculiarities__img 
						img(src="./img/icon1.svg" alt="")
					.section-peculiarities__name Школа №5
					.section-peculiarities__desc 10 минут пешком
				.section-peculiarities__item 
					.section-peculiarities__img 
						img(src="./img/icon2.svg" alt="")
					.section-peculiarities__name Детский сад №6
					.section-peculiarities__desc 8 минут пешком
				.section-peculiarities__item 
					.section-peculiarities__img 
						img(src="./img/icon3.svg" alt="")
					.section-peculiarities__name Продукты 
					.section-peculiarities__desc 3 минуты пешком
				.section-peculiarities__item 
					.section-peculiarities__img 
						img(src="./img/icon4.svg" alt="")
					.section-peculiarities__name Городской пляж
					.section-peculiarities__desc 15 минут пешком 
	.section-main-slider-block
		.section-main-slider
			.section-main-slider__slide 
				img(src="./img/slide1.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide2.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide1.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide2.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide1.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide2.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide1.jpg" alt="")
			.section-main-slider__slide 
				img(src="./img/slide2.jpg" alt="")
		.section-tabs__nav-slider.nav-main-slider
			button.nav-main-slider__prev 
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 12L14 16L18 20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M2.66675 16.0001C2.66675 9.71469 2.66675 6.57199 4.61937 4.61937C6.57199 2.66675 9.71469 2.66675 16.0001 2.66675C22.2855 2.66675 25.4282 2.66675 27.3808 4.61937C29.3334 6.57199 29.3334 9.71469 29.3334 16.0001C29.3334 22.2855 29.3334 25.4282 27.3808 27.3808C25.4282 29.3334 22.2855 29.3334 16.0001 29.3334C9.71469 29.3334 6.57199 29.3334 4.61937 27.3808C2.66675 25.4282 2.66675 22.2855 2.66675 16.0001Z" stroke="white" stroke-width="1.5" /></svg>
			button.nav-main-slider__next 
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 12L18 16L14 20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M2.66675 16.0001C2.66675 9.71469 2.66675 6.57199 4.61937 4.61937C6.57199 2.66675 9.71469 2.66675 16.0001 2.66675C22.2855 2.66675 25.4282 2.66675 27.3808 4.61937C29.3334 6.57199 29.3334 9.71469 29.3334 16.0001C29.3334 22.2855 29.3334 25.4282 27.3808 27.3808C25.4282 29.3334 22.2855 29.3334 16.0001 29.3334C9.71469 29.3334 6.57199 29.3334 4.61937 27.3808C2.66675 25.4282 2.66675 22.2855 2.66675 16.0001Z" stroke="white" stroke-width="1.5" /></svg>
	.section-steps 
		.container 
			.section-steps__wrapper
				.section-steps__desc 
					.section-steps__title Ход строительства
					.section-steps__text Квартиры в ЖК Борисовский бульвар порадуют своих жильцов удобными планировками, позволяющими эффективно использовать жилое пространство. Представляем вашему вниманию возможные варианты оформления квартир: однокомнатной, двухкомнатной и трехкомнатной. Автор дизайн-проектов — архитектор Татьяна Генне.
					a.button.hide-mobile(href="") Все трансляции
				.section-steps__video 
					.section-steps__thumb 
						.section-steps__play 
							<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.259 7.40177C18.259 8.55647 18.259 11.4432 16.259 12.5979L4.74105 19.2478C2.74105 20.4025 0.241056 18.9591 0.241056 16.6497L0.241056 3.34993C0.241056 1.04053 2.74106 -0.402842 4.74106 0.751859L16.259 7.40177Z" fill="white" /></svg>
					.section-steps__frame
						.adaptive_video
							iframe(src="https://rtsp.me/embed/rDHn2yB9/", frameborder="0") 
				a.button.hide-desktop(href="") Все трансляции
	.section-banks 
		.container
			.section-banks__title Объекты аккредитованы в следующих банках
			.section-banks__items 
				.section-banks__item 
					img(src="./img/partner1.png" alt="")
				.section-banks__item 
					img(src="./img/partner2.png" alt="")
				.section-banks__item 
					img(src="./img/partner3.png" alt="")
				.section-banks__item 
					img(src="./img/partner4.png" alt="")
				.section-banks__item 
					img(src="./img/partner5.png" alt="")
				.section-banks__item 
					img(src="./img/partner6.png" alt="")
				.section-banks__item 
					img(src="./img/partner7.png" alt="")
				.section-banks__item 
					img(src="./img/partner8.png" alt="")
	.section-map 
		.section-map__map 
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A23d5f42ac29251d0a42d2885b37fd7981674d60d2799b5c980b5fc080d402109&amp;width=100%25&amp;height=810&amp;lang=ru_RU&amp;scroll=true"></script>
		.container 
			.section-map__desc 
				.section-map__title Офис продаж
				.section-map__subtitle Телефон отдел продаж:
				.section-map__text
					a.section-map__link(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
				.section-map__subtitle Адрес:
				.section-map__text Калининград, ул. Зеленая, д. 89, пом. 15
				.section-map__subtitle E-mail:
				.section-map__text 
					a(href="mailto:535stroy@fond39sz.ru") 535stroy@fond39sz.ru
				.section-map__subtitle Телефон:
				.section-map__text
					a.section-map__link(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
				.section-map__subtitle Мы в социальных сетях
				+socials()


