main.main
	.section-categories
		.container
			p Список страниц
			ul 
				li
					a(href="index.html") Главная
				li
					a(href="choose-floor.html") Выбор этажа
				li
					a(href="flats.html") Квартиры
				li
					a(href="choose-flat-1.html") Выбор квартиры 1
				li
					a(href="choose-flat-2.html") Выбор квартиры 2
			

