main.main
	.flat-detail
		.flat-detail__title
			h1.h1 г. Калининград, ул. Артиллерийская, дом 3, подъезд 1, кв.26 площадь 42.68
			.like-socials 
				a.like-socials__link(href="")
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.46447 3.46447C4.92893 2 7.28595 2 12 2C13.0226 2 13.9343 2 14.75 2.01495C14.7538 2.58578 14.9735 3.15545 15.409 3.59099L16.568 4.75H14C11.3831 4.75 9.74771 6.0478 9.08556 6.71318L8.89982 6.89982L8.71318 7.08557C8.0478 7.74771 6.75 9.38314 6.75 12V15C6.75 16.2426 7.75736 17.25 9 17.25C10.2426 17.25 11.25 16.2426 11.25 15V12C11.25 10.9798 11.738 10.4239 11.8874 10.2753L12.0793 10.0844L12.2753 9.8874C12.424 9.73801 12.9798 9.25 14 9.25H16.568L15.409 10.409C14.5303 11.2877 14.5303 12.7123 15.409 13.591C16.2877 14.4697 17.7123 14.4697 18.591 13.591L21.9962 10.1858C22 10.7485 22 11.352 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447Z" fill="white" /><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4697 1.46967C16.7626 1.17678 17.2374 1.17678 17.5303 1.46967L22.5303 6.46967C22.8232 6.76256 22.8232 7.23744 22.5303 7.53033L17.5303 12.5303C17.2374 12.8232 16.7626 12.8232 16.4697 12.5303C16.1768 12.2374 16.1768 11.7626 16.4697 11.4697L20.1893 7.75H14C12.4485 7.75 11.5328 8.50701 11.212 8.82933L11.0211 9.02115L10.8293 9.21205C10.507 9.5328 9.75 10.4485 9.75 12V15C9.75 15.4142 9.41421 15.75 9 15.75C8.58579 15.75 8.25 15.4142 8.25 15V12C8.25 9.91621 9.27703 8.64062 9.77125 8.1488L9.96049 7.96049L10.1488 7.77125C10.6406 7.27703 11.9162 6.25 14 6.25H20.1893L16.4697 2.53033C16.1768 2.23744 16.1768 1.76256 16.4697 1.46967Z" fill="white" /></svg>
				a.like-socials__link(href="")
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 6H8C5.17157 6 3.75736 6 2.87868 6.87868C2 7.75736 2 9.17157 2 12C2 14.8284 2 16.2426 2.87868 17.1213C3.37323 17.6159 4.03743 17.8321 5.02795 17.9266C4.99998 17.2038 4.99999 16.3522 5 15.5C4.72386 15.5 4.5 15.2761 4.5 15C4.5 14.7239 4.72386 14.5 5 14.5H19C19.2761 14.5 19.5 14.7239 19.5 15C19.5 15.2761 19.2761 15.5003 19 15.5003C19 16.3525 19 17.2039 18.9721 17.9266C19.9626 17.8321 20.6268 17.6159 21.1213 17.1213C22 16.2426 22 14.8284 22 12C22 9.17157 22 7.75736 21.1213 6.87868C20.2426 6 18.8284 6 16 6ZM9 10.75C9.41421 10.75 9.75 10.4142 9.75 10C9.75 9.58579 9.41421 9.25 9 9.25H6C5.58579 9.25 5.25 9.58579 5.25 10C5.25 10.4142 5.58579 10.75 6 10.75H9ZM17 11C17.5523 11 18 10.5523 18 10C18 9.44772 17.5523 9 17 9C16.4477 9 16 9.44772 16 10C16 10.5523 16.4477 11 17 11Z" fill="white" /><path d="M17.1211 2.87868C16.2424 2 14.8282 2 11.9998 2C9.17134 2 7.75712 2 6.87844 2.87868C6.38608 3.37105 6.16961 4.03157 6.07444 5.01484C6.63368 4.99996 7.25183 4.99998 7.92943 5H16.0706C16.748 4.99998 17.366 4.99996 17.9251 5.01483C17.8299 4.03156 17.6135 3.37105 17.1211 2.87868Z" fill="white" /><path d="M18 15.5C18 18.3284 18 20.2426 17.1213 21.1213C16.2426 22 14.8284 22 12 22C9.17158 22 7.75736 22 6.87868 21.1213C6 20.2426 6 18.3284 6 15.5H18Z" fill="white" /></svg>
		.flat-detail__columns 
			.flat-detail__column-left 
				.flat-detail__options.options 
					.options__block 
						.options__name Номер
						.options__value 26
					.options__block 
						.options__name Этаж
						.options__value 7
					.options__block 
						.options__name Площадь
						.options__value 42.68
					.options__block 
						.options__name Статус
						.options__value Бронь
				.flat-detail__direction
					img(src="./img/direction.png" alt="")
			.flat-detail__column-middle 
				.flat-detail__direction
					img(src="./img/direction.png" alt="")
				img(src="./img/flat-detail.png" alt="")
			.flat-detail__column-right
				.flat-detail__caption ПОДХОДИТ ПОД:
				.flat-detail__block 
					img(src="./img/family.svg" alt="")
					span Семейная ипотека
				.flat-detail__block 
					img(src="./img/ipoteka.svg" alt="")
					span Льготная ипотека
				.flat-detail__block 
					img(src="./img/sailor.svg" alt="")
					span Ипотека для моряков
				.flat-detail__block 
					img(src="./img/military.svg" alt="")
					span Военная ипотека
				.flat-detail__block 
					img(src="./img/standart.svg" alt="")
					span Стандартная ипотека
	.flat-contacts 
		.container 
			.flat-contacts__inner 
				.flat-contacts__info 
					.flat-contacts__phone
						a(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
					.flat-contacts__subtitle Отдел продаж на объекте
					.flat-contacts__phone
						a(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
					.flat-contacts__text Новый жилой комплекс «Нахимовский квартал» строится в районе популярной элитной застройки на ул. Артиллерийской. Во второй очереди будет возведён 324 — квартирный жилой дом этажностью 10 этажей. Проектом предусмотрены повышенные требования к комфорту квартир и общедомового пространства: просторные планировки и большие кухни, автономное отопление, два лифта на секцию, всего 4 квартиры на площадке, выход из подъездов на обе стороны, внутренний двор без машин, большое количество парковочных мест, благоустройство с прогулочными зонами, зонами отдыха, спортивными и детскими игровыми площадками. Жилой комплекс выдержан в современном стиле и гармонирует с уже существующей застройкой микрорайона.
				.flat-contacts__form.form 
					.form__title Укажите свои контакты и мы Вам перезвоним:
					form(action="")
						.form__block 
							label.form__label ФИО
							input.form__input(type="text" value="")
						.form__block 
							label.form__label Телефон
							input.form__input(type="text" value="")
						.form__block 
							button.button() Заказать звонок
						.form__agree Нажимая кнопку Заказать звонок Вы соглашаетесь с 
							a(href="") Правилами обработки персональных данных


